/* //////////////////////////////////////  GLOBAL   ///////////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* ////////////////////////////////////////// GENERAL ////////////////////////////////////////////// */
* {
    font-family: "Nunito", sans-serif;
    
}
html{
    height: 100%;
      min-height: 100%;
}
body{
    background-color: white;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* /////////////////////////////////////////// NAVBAR //////////////////////////////////////////////// */
.nav-bar{
    top: 0;
    background-color: #015e0a;
    width: 100%;
  }
  .nav-hold{
    width: 90%;
  }
  .nav-logo{
    float: left;
    display: block;
    padding: 30px 0px 20px 20px;
    font-weight: 600;
  }
  .nav-logo a{
    color:  #5e0101;
  }
  .nav-items{
    float: right
  }
  .nav-items li{
    display:block;
    float: left;
    padding: 10px 20px;
    margin-left:10px;
  }
  .nav-items li a {
    color: #fff700;
  }
  .nav-items li:hover {
    background-color:#008a0580;
    border-left:3px solid #008a0580;
    border-right:3px solid #008a0580;
  }
  .nav-hold{
    overflow:hidden;
  }
  .nav-menu{
    display: none;
  }
  /*media Queries*/
  @media screen and (max-width: 768px){
    .nav-menu{
      display: block;
      float: right;
      padding: 10px 20px;
      cursor: pointer;
      color: #fff;
    }
    .nav-items{
      width: 100%;
      float: left;
      height: 0px;
      padding:0px;
      margin:0px;
      
    }
    .nav-items li{
      width: 100%;
      display: block;
    }  
  }
  .nav-open{
    height: auto;
  }
/*//////////////////////////////// END NAVBAR //////////////////////////////////////////////////////*/
img {
  max-height:60px;
  max-width: 60px;
}
/*////////////////////////////////// MAPS ///////////////////////////////////////////////////////*/
#map {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    width: 100%;
    height: 87vh;
}
/*///////////////////////////////// END MAPS /////////////////////////////////////////////////////*/
